# You can have multiple cards: They need to be in separate sections,
# since you may want to put the images coming from them into different
# directories.  Each section must be named "card FOO", where "FOO" can
# be pretty much anything you like.  If you want to treat them all the
# same, the Folder and SubFolder settings can be moved to the 'main'
# section instead.

[card spacecam]
# MAC Address separated by : or - or nothing, found as explained above:
MacAddress=demo
# Upload key for this key, found as explained above:
UploadKey=demo
# Where to put things?
Folder=/mnt/pictures
# Want to save images to subfolders per date, under Folder?  Enter the
# sub-folder name here as a POSIX::strftime() format string.  If you
# don't want to use sub folders, leave the setting blank.
SubFolder=%Y-%m-%d

[main]
# Debug level from the script.  Valid values: off, warn, info, debug, trace
LogLevel=trace
# Log file: A path name, or blank for STDOUT. (If you want no log at
# all, use LogLevel=off)
LogFile=
# When using subfolders, do you want the date used for making the
# subfolder name to come from the photo timestamp, or from the
# computer clock at the time of transfer?  Set to "exif" to use photo
# time, "local" to use computer time.
# NOTE: Currently, only "local" is supported.
SubFolderTimeSource=local
# Network plumbing stuff: These should not need changing
Port=59278
SocketTimeout=600
